# Ignore node_modules directory
node_modules/
NextEvents.code-workspace
# Ignore build output
build/
static/
.next/
.DS_Store
# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled binaries
*.exe
*.dll

